name: Build and Ship

on:
  push:
    tags: ["v*"]

jobs:
  build_and_ship:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |-
            ghcr.io/corrupt952/revealer:${{ github.sha }},
            ghcr.io/corrupt952/revealer:${{ github.ref_name }},
            ghcr.io/corrupt952/revealer:latest
